



<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Hello {{username}}</a>
            
                <a href="/index/logout" class="btn btn-outline-danger" >Logout</a>
            
        </div>
    </nav>
</header>

<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
            <div class="col-md-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.model}}</h5>
                        <p class="card-text">
                            {{this.price}} <br>{{this.availability}}<br>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
</section>